/* Master Styles */
.body {
    /*background: url("http://localhost:8080/images/bg.jpg") fixed ;*/
    background-color: #f8f8f8;
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
}

.col-centered {
    padding: 15px;
    float: none;
    margin: 0 auto;
    text-align: center;
}

/*Forms*/
.form-control {
    height: 35px;
    /*background-color: #f9f9f9;*/
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #5d5d5d;
}

.submitButton {
    font-weight: 700;
    border-radius: 0;
    border: 3px solid #5d5d5d;
    text-transform: uppercase;
    color: #5d5d5d;
    background-color: white;
}

/*Title of page below navbar*/
.top-title {
    text-transform: uppercase;
    color: #777;
    margin-top: 0;
}

