.has-error input {
    background: lightcoral;
}

.error-message {
    padding: 5px;
    color: #5d5d5d;
    background-color: lightcoral;
    margin-bottom: 15px;
}

.error-message ul {
    margin-bottom: 0;
}

.error-message p {
    margin: 0;
}