.has-error input {
    background: lightcoral;
}

.error-message {
    padding: 5px;
    color: #5d5d5d;
    background-color: lightcoral;
    margin-bottom: 15px;
}

.error-message ul {
    margin-bottom: 0;
}

.error-message p {
    margin: 0;
}

.btn-file {
    font-weight: 700;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 0;
    background-color: white;
    color: #5d5d5d;
    border: none;
}

.btn-file input[type=file] {
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.imageContainer {
    width: 300px;
    height: auto;
    position: relative;
    margin: auto;
    float: none;
}

.divOnImage {
    text-align: right;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    padding: 5px;
    color: #ff0004;
    font-size: 25px;
    font-weight: bold;
}

.removeImage {
    text-align: right;
    border: none;
    box-shadow: none;
    background: transparent;
}