/*Photo card*/
.photo-card {
  margin-bottom: 25px;
  background-color: white;
}

.photo-card img {
  width: 100%;
}

.photo-card h4 {
  color: #5d5d5d;
}

.photo-card p {
  color: #5d5d5d;
}

/*Top info - avatar, username and date*/
.top-info {
  color: #5d5d5d;
  margin: 10px 10px 0;
}

.top-info img {
  height: 25px;
  max-width: 25px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: top;
}

.top-info h5 {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0 0 5px;
}

.top-info > .pull-left h5 {
  margin-top: 0;
  font-weight: 700;
}

.top-info h5:hover {
  color: #222;
}

.time-icon {
  vertical-align: middle;
  margin: 2px 0 0 5px;
  display: inline-block;
}

/*Like*/
.like {
  /*text-align: right;*/
  font-weight: 400;
  cursor: pointer;
  margin-left: 60px;
}

.like:hover {
  color: lightcoral;
}

.like > h2 {
  margin-bottom: 0;
}

.thumb-up-liked {
  color: #ff1503;
}

/*Bottom info - photo title and description*/
.bottom-info {
  padding: 10px;
  text-align: left;
}

/*Comment*/
.comment {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.comment p {
  display: inline;
  margin-bottom: 0;
}

.comment > .username {
  cursor: pointer;
  font-weight: 700;
}

.comment > .username:hover {
  color: #222;
}

/*Comment form*/
.comment-form {
  padding: 10px 10px 10px 10px;
  text-align: left;
}

.comment-form input {
  padding-left: 10px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 35px;
  width: 100%;
}

.comment-form input:focus {
  outline: none;
}
