.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-default {
  background: rgba(255, 255, 255, 0.9);
  border-color: transparent;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-brand img {
  width: 130px;
}

.navbar-brand {
  padding: 8px 0 0 0;
  position: absolute;
  left: 50%;
  margin-left: -330px !important; /* 50% of your logo width */
  display: block;
}

@media (max-width: 767px) {
  .navbar .navbar-nav {
    display: inherit;
    float: none;
    vertical-align: top;
  }
}

.form-control {
  background-color: #f9f9f9;
}

.navbar-form {
  margin-left: 50px
}
