<div class="photo-card">
    <img src="http://localhost:8080/images/{{photo.fileName}}">
    <div class="top-info">
        <div class="pull-left" style="cursor: pointer"
             (click)="navigateToUserByUsername(photo.user.username)">
            <img src="http://localhost:8080/images/{{photo.user.avatarFileName}}">
            <h5>{{photo.user.username}}</h5>
        </div>
        <div class="pull-right">
            <span class="glyphicon glyphicon-time time-icon"></span>
            <h5 class="pull-right">{{photo.creationTimestamp | date:'HH:mm, dd MMM yyyy'}}</h5>
            <div class="like" [ngClass]="{'thumb-up-liked': photo.liked}"
                 (click)="likePhoto(photo)">
                <h2><span class="glyphicon glyphicon-thumbs-up"></span></h2>
                <p>Likes: {{photo.likesCount}}</p>
            </div>

        </div>
    </div>
    <br>
    <div class="bottom-info">
        <h4>{{photo.title}}</h4>
        <p>{{photo.description}}</p>
    </div>
    <div class="comment">
        <p class="content">Comments: {{photo.photoComments.length}}</p>
    </div>
    <div class="comment" *ngFor="let comment of photo.photoComments">
        <p class="username" (click)="navigateToUserByUsername(comment.username)">{{comment.username}}</p>
        <p class="content">{{comment.content}}</p>
    </div>
    <form class="comment-form" #commentForm="ngForm"
          (ngSubmit)="sendComment(photo, content.value); content.value=null">
        <input type="text" #content placeholder="Write a comment..." [disabled]="!userService.isLoggedIn">
    </form>
</div>