<div class="container">
    <div class="row">
        <div class="col-md-7 col-centered">
            <div class="photo-card" *ngFor="let photo of photos">
                <img src="http://localhost:8080/images/{{photo.fileName}}">
                <div class="top-info">
                    <div class="pull-left">
                        <img src="http://localhost:8080/images/{{photo.fileName}}">
                        <h5>{{photo.user.username}}</h5>
                    </div>
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-time"></span>
                        <h5 class="pull-right">{{photo.creationTimestamp | date:'HH:mm, dd MMMM yyyy'}}</h5>
                    </div>
                </div>
                <br>
                <div class="bottom-info">
                    <h4>{{photo.title}}</h4>
                    <p>{{photo.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>