.container {
    font-family: 'Open Sans', sans-serif;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.photo-card {
    margin-bottom: 25px;
    background-color: white;
}

.bottom-info {
    padding: 10px;
}

.top-info {
    color: darkgray;
    margin: 10px 10px 0;
}

.top-info img {
    height: 25px;
    max-width: 25px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: top;
}

.top-info h5 {
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0 0 5px;
}

.top-info span {
    vertical-align: middle;
    margin: 2px 0 0 5px;
    color: darkgray;
    display: inline-block;
}

.photo-card img {
    width: 100%;
}

.photo-card h4 {
    color: #5d5d5d;
}

.photo-card p {
    color: #5d5d5d;
}
