.info {
  padding: 15px;
}

.info img {
  height: 80px;
  max-width: 80px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}

.text-info {
  font-weight: 400;
  color: black;
  vertical-align: middle;
  text-align: left;
  margin-left: 20px;
  display: inline-block;
}

.gallery {
  display: inline-block;
  padding: 15px;
}

.thumb {
  padding: 0;
  margin-bottom: 15px;
}

.thumbnail img:hover {
  opacity: 0.8;
}

.thumbnail {
  border: none;
  padding-right: 15px;
  background: transparent;
}
