<div class="container">
    <div class="row">
        <div class="col-md-6 col-centered">
            <h3 class="top-title">Add your own photo!</h3>
            <form autocomplete="off" #addForm="ngForm">
                <div class="form-group">
                    <input type="text" class="form-control" id="photoTitle" placeholder="Title"
                           [(ngModel)]="photo.title" name="title" required maxlength="100">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="photoDescription" placeholder="Description"
                           [(ngModel)]="photo.description" name="description">
                </div>
                <div class="form-group">
                    <div class="btn btn-primary btn-file">
                        <span class="glyphicon glyphicon-camera"></span> Browse for image
                        <input type="file" ngFileSelect [options]="basicOptions"
                               (onUpload)="handleUpload($event)" (onPreviewData)="handlePreviewData($event)"
                               id="uploadImage" [(ngModel)]="input" name="input"/>
                    </div>

                    <div class="imageContainer" *ngIf="imageSelected">
                        <div class="divOnImage">
                            <button class="glyphicon glyphicon-remove removeImage" (click)="deleteImage()"></button>
                        </div>
                        <img [src]="previewData" alt="Preview Data" class="preview-img" style="width: 100%">
                        <p>Progress: {{ progress }}%</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-default submitButton"
                        [disabled]="!(addForm.form.valid && imageSelected)" (click)="onSubmit()">Submit
                </button>
            </form>
        </div>
    </div>
</div>
