.has-error input {
    background: lightcoral;
}

.ui-helper-clearfix img {
    height: 25px;
    max-width: 25px;
    border-radius: 100%;
    display: inline-block;
    margin: 5px 5px 0 5px
}

.ui-helper-clearfix h5 {
    color: #5d5d5d;
    display: inline-block;
    vertical-align: middle;
}
